body {
    color: black;
    background-color: whitesmoke;
    /*background-image:url(https://wallpaper.forfun.com/fetch/a1/a10a765e4925f5bb99925dd494fb1c5b.jpeg);*/
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
}

/*Permet d'effectuer une scroll barre personnalisé*/
body::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

body::-webkit-scrollbar-track {
    background-color: #e5e5e5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ffe4e1;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: deeppink;
}

/*Pour pouvoir monter tout en haut de la page web grâce à la flèche rose en bas à droite de l'écran.*/
.ancrage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: opacity(25%);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /*Provoque l'agrandisement et l'opacité en 0.3s*/
}

.ancrage:hover {
    transform: scale(1.2);
    /* Agrandissement un peu la flèche quand on clique dessus. hover permet de faire ceci.*/
    filter: opacity(25%);
}

/*Responsive Tablette et @media pour un appareil*/
@media (max-width: 768px) {
    .ancrage {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}

/*Responsive Téléphone @media pour un appareil*/
@media (max-width: 980px) {
    .ancrage {
        width: 30px;
        height: 30px;
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
}





.barre {
    background-color: #ffe4e1;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 5px solid #ffe4e1;
    /*Solid sert a remplir toute le border (bordure)*/
}

.barre:hover {
    border-color: #ffe4e1;
}

.barrep {
    background-color: #ffe4e1;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.barrep:hover {
    border-color: deeppink;
    /* couleur de bordure au survol de la souris */
}

/*Pour que cette variable met la couleur violet foncé et le texte en gras*/
.titreg {
    font-weight: bold;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    background-color: #ffe4e1;
    border-radius: 20px;
    border:1px solid #ffe4e1;
}

.hautpage {
    padding: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration-line: underline;/*souligner le texte*/
    text-align: left;
}

/*Hover sert pour si on met la souris sur un élément il y a une action qui se passe.*/
.hautpage:hover {
    background-color: deeppink;
}

/*Il y a une barre en bas de la page qui ne bougera pas et qui prend toute la largeur.*/
.baspage {
    bottom: 0px;
    width: 100%;
    font-weight: bold;
    background-color: #ffe4e1;
    font-size: 18px;
    padding: 40px;
    height: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.baspage h5 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/*Pour centrer la vidéo correctement*/
.alignvideo {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*Pour ajuster la taille de la vidéo correctement.*/
/*.alignvideo video {
    width: 70%;    
    max-width: 1200px;
    height: auto;
}*/
.alignvideo iframe {
    width: 75vw;
    height: 75vh;
}

.coucou1 {
    color: black;
    font-style: unset;
    font-weight: bold;
}

/*Mettre une police personnalisé et une couleur personnalisé.*/
.coucou {
    color: black;
    font-style: unset;
    font-weight: bold;
    background-color: #ffe4e1;
}

.theme {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    /*Pour bien ajuster l'image sur la barre de navigation*/
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /*Provoque l'agrandisement et l'opacité en 0.3s*/
}

.theme:hover {
    transform: scale(1.2);
    /* Agrandissement un peu la flèche quand on clique dessus de 1.2cm.*/
}

.theme2 {
    position: absolute;
    top: 7px;
    right: 50px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    /*Pour bien ajuster l'image sur la barre de navigation*/
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /*Provoque l'agrandisement et l'opacité en 0.3s*/
}

.theme2:hover {
    transform: scale(1.2);
    /* Agrandissement un peu la flèche quand on clique dessus de 1.2cm.*/
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 12%;
    text-align: center;
    position: relative;
    /* sert a empecher que les sous partie 
    augmente la taille de la barre de menu*/
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: rgb(56, 56, 209);
    border-bottom: 2px solid violet;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    /* ligne 66, 65, 64 sert a empecher que les sous partie 
    augmente la taille de la barre de menu*/
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: pink;
}

h2 {
    align-items: center;
    font-weight: bold;
}

blockquote {
    font-weight: bold;
}

p {
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    /*Pour l'espacement*/
    padding: 20px;
}

.content2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    list-style: disc inside;
}

.content2 h5 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;

}

.center {
    width: 100%;
    text-align: center;
}

.right {
    width: 50%;
    text-align: right;
}

.left {
    width: 100%;
    text-align: center;
}

.colored {
    color: black;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    background-color: #ffe4e1;
    border-radius: 20px;
    border:1px solid #ffe4e1;
}

.pink {
    color: pink;
}


/* Style du menu hamburger */
.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.hamburger-icon .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}


/* Overlay */
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

/* Contenu de l'overlay */
.overlay-menu nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.overlay-menu nav ul li {
    margin: 10px 0;
}

.overlay-menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.overlay-menu nav ul li a:hover {
    color: #f39c12;
}

/* Affichage de l'overlay lorsque le menu hamburger est activé */
#menu-toggle:checked ~ .overlay-menu {
    transform: scale(1);
    opacity: 1;
}

/* Affichage sur mobiles */
@media (max-width: 980px) {
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    .hamburger-icon {
        display: block;
    }
}


img {
    max-width: 100%;
    border-radius: 20px;
    height: auto;
}

.prout {
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width : 40%;
    padding: 40px;
    background-color: #ffe4e1;
    border-radius: 20px;
    color: black;

    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
