body {
    color:black;
    background-color:darkslategray;
    background-image:url(https://images6.alphacoders.com/121/thumb-1920-1218905.png);
    margin:0;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

/*Pour pouvoir monter tout en haut de la page web grâce à la flèche rose en bas à droite de l'écran.*/
.ancrage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: opacity(25%);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease; /*Provoque l'agrandisement et l'opacité en 0.3s*/
    filter: invert(29%) sepia(11%) saturate(183%) hue-rotate(164deg) brightness(85%) contrast(89%); /*Changer la couleur de l'image*/
}

.ancrage:hover {
    transform: scale(1.2); /* Agrandissement un peu la flèche quand on clique dessus. hover permet de faire ceci.*/
    filter: opacity(25%);
}

/*Responsive Tablette et @media pour un appareil*/
@media (max-width: 768px) {
    .ancrage {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}

/*Responsive Téléphone @media pour un appareil*/
@media (max-width: 480px) {
    .ancrage {
        width: 30px;
        height: 30px;
        bottom: 10px;
        right: 10px;
    }
}

.barre {
    background-color: #2f4f4f;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 5px solid #2f4f4f; /*Solid sert a remplir toute le border (bordure)*/
}

.barre:hover {
    border-color: #2f4f4f;
}

.barrep {
    background-color: #2f4f4f;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.barrep:hover {
    border-color: darkcyan; /* couleur de bordure au survol de la souris */
}

/*Pour que cette variable met la couleur violet foncé et le texte en gras*/
.titreg {
    font-weight: bold;
    color: #800080;
}

.hautpage {
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration-line: underline; /*souligner le texte*/
    text-align: left;
}

/*Hover sert pour si on met la souris sur un élément il y a une action qui se passe.*/
.hautpage:hover {
    background-color: darkcyan;
}

/*Il y a une barre en bas de la page qui ne bougera pas et qui prend toute la largeur.*/
.baspage {
    bottom: 0px;
    width: 100%;
    font-weight: bold;
    background-color:#2f4f4f;
}

/*Pour centrer la vidéo correctement*/
.alignvideo {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*Pour ajuster la taille de la vidéo correctement.*/
.alignvideo video {
    width: 70%;    
    max-width: 1200px;
    height: auto;
}

.coucou1 { 
    color:black;
    font-style: unset;
    font-weight: bold;
}

/*Mettre une police personnalisé et une couleur personnalisé.*/
.coucou { 
    color:black;
    font-style: unset;
    font-weight: bold;
    background-color:darkslategray;
}

.theme {
    position: absolute; /*Bien positionner le texte ou l'image en fonction de sa class*/
    top: 7px;       
    right: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;  /*Pour bien ajuster l'image sur la barre de navigation*/
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease; /*Provoque l'agrandisement et l'opacité en 0.3s*/
}

.theme:hover {
    transform: scale(1.2); /* Agrandissement un peu la flèche quand on clique dessus de 1.2cm.*/
}
